.header {
  background-image: url(https://cdn.buttercms.com/7EOkwAtnT1GMDGiAAang);
  background-position: center;
  height: 18rem;
  background-size: cover;
  text-align: center;
  padding: 10px;
  margin-bottom: 100px;
  border-style: groove;
  border-color: blueviolet;
}

.titulo {
  color: rgb(203, 32, 149);
  font-family: fantasy;
  font-size: 70px;
  text-align: right;
}
.subtitulo {
  color: rgb(203, 32, 149);
  font-family: fantasy;
  font-size: 30px;
  text-align: right;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card {
  margin: 100px;
}
p {
  font-family: fantasy;
}
.producto {
  display: inline-block;
}
.descripcion {
  display: inline-block;
}
.footer {
  text-align: center;
  background-color: rgba(137, 43, 226, 0.344);
  border-style: groove;
  border-color: blueviolet;
}
.Ig {
  display: inline-flex;
  margin-right: 20px;
}
.Whatsapp {
  display: inline-flex;
  margin-left: 20px;
}
